{% extends 'carrentapp/base.html' %}
{% block title %}Wyloguj{% endblock title %}
{% block section_one %}

    <div class="row justify-content-center">
        <div class="card" style="width: 35rem;">
        <div class="card-body" style="text-align: center">
        <h1 class="card-title">Zostałeś wylogowany</h1>
        <br><hr><a href="{% url 'login' %}" class="btn btn-dark btn-lg">Zaloguj się ponownie</a>
        </div>
    </div>
 </div>




<div style="height:200vh"></div>
</div>
{% endblock %}