{% extends "carrentapp/base.html" %}
{% block section_one %}

{% include 'accounts/icon_loader.html' %}

    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                            <div class="card-header justify-content-center">
                              <h3 class="font-weight-light my-4 text-center fs-1">Zmień hasło</h3>
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        {% for value in form.errors.values %}
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <strong>{{ value.as_text|cut:"* "  }}</strong><br>
                                        {% endfor %}
                                    </div>
                                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                                    </button>
                                </div>
                            {% endif %}

                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="fs-2 mb-1 " for="id_old_password">Stare hasło</label>
                                                <input type="password" name="old_password" autocomplete="new-password"
                                                       class="form-control fs-3" required id="id_old_password"
                                                       placeholder="Wpisz stare hasło"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="fs-2 mb-1" for="id_new_password1">Nowe hasło</label>
                                                <input type="password" name="new_password1" autocomplete="new-password"
                                                       class="form-control fs-3" required id="id_new_password1"
                                                       placeholder="Podaj nowe hasło"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="fs-2 mb-1" for="id_new_password2">Powtórz nowe hasło</label>
                                                <input type="password" name="new_password2" autocomplete="new-password"
                                                       required id="id_new_password2" class="form-control fs-3"
                                                       placeholder="Potwierdź nowe hasło"/>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                            </div>
                            <div class="card-footer text-center">
                            <div class="form-row">
                                <button type="submit" class="col-md-12 btn btn-dark btn-lg fs-2" id="reset">Zmień hasło</button>

                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div style="height:100vh"></div>
</div>
{% endblock %}