{% load i18n %}{% autoescape off %}
<h1 style="color: green">Resetowanie Hasła</h1>
<p style="font-size: xx-large; color:dodgerblue">Otrzymałeś tą wiadomość ponieważ na stronie {{ site_name }} użytkownik {{ user.get_username }} podał twój e-mail w celu zresetowania hasła<br>
Jeśli to byłeś ty to clicknij w poniższy link by kontynuować proces:</p>
<br>
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
<br>
<p style="font-size: x-large; color: dodgerblue">Dziękujemy za korzystanie z bagniaki incorporated.</p>
{% endautoescape %}
