{% extends 'carrentapp/base.html' %}
{% block title %} Formularz rejestracyjny {% endblock title%}

{% block section_one %}
    {% include 'accounts/icon_loader.html' %}

    {% if form.errors %}
        <section class="car_view">
            <section class="car_table">
                    <div class="alert alert-dismissible gap-2 bg-dark bg-gradient shadow rounded mb-5 fade show" style="padding-left: 30px">
                    <button type="button" class="btn-close btn-close-white" data-dismiss="alert" aria-label="Close"></button>
                    <table class="table fs-2 table-responsive table-bordered table-hover table-striped table-danger mb-0">
                        {% for value in form.errors.values %}
                        <tr>
                            <td>
                                <svg class="bi flex-shrink-0 me-2 text-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            </td>
                            <td>
                                <strong class="fs-2 text-danger">{{ value.as_text|cut:"* "  }}</strong>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>

                    </div>
            </section>
        </section>
    {% endif %}

    <section class="car_view">
        <section class="car_table">
            <form method="post" enctype="multipart/form-data" class="d-grid gap-2 bg-dark bg-gradient p-2 shadow rounded">
                        <table class="table fs-2 table-responsive table-bordered table-hover table-striped table-dark">
                            <tr>
                                <td>Email:</td>
                                <td>{{ form.email }}</td>
                            </tr>
                            <tr>
                                <td>Użytkownik:</td>
                                <td style="font-size: large">{{ form.username  }}</td>
                            </tr>
                            <tr>
                                <td>Imię:</td>
                                <td>{{ form.first_name  }}</td>
                            </tr>
                            <tr>
                                <td>Nazwisko:</td>
                                <td>{{ form.last_name }}</td>
                            </tr>
                            <tr>
                                <td>Data urodzenia:</td>
                                <td>{{ form.birthdate }}</td>
                            </tr>
                            <tr>
                                <td>Miasto:</td>
                                <td>{{ form.addr_city  }}</td>
                            </tr>
                            <tr>
                                <td>Ulica:</td>
                                <td>{{ form.addr_street }}</td>
                            </tr>
                            <tr>
                                <td>Kod pocztowy:</td>
                                <td>{{ form.addr_post_code }}</td>
                            </tr>
                            <tr>
                                <td>Numer telefonu:</td>
                                <td>{{ form.mobile_nr }}</td>
                            </tr>
                            <tr>
                                <td>Hasło</td>
                                <td>{{ form.password1 }}</td>
                            </tr>
                            <tr>
                                <td>Powtórz hasło</td>
                                <td>{{ form.password2}}</td>
                            </tr>
                        </table>
                        <button type="submit" class="btn btn-success btn-lg bg-gradient" style="font-size: large">Utwórz konto</button>
                        <a href="{% url 'login' %}" class="btn btn-warning btn-lg bg-gradient" role="button" style="font-size: large">Masz już konto? Zaloguj</a>
                    {% csrf_token %}
                    </form>
        </section>
    </section>
{% endblock %}