{% extends 'carrentapp/base.html' %}
{% load static %}

{% block hero_bar %}
    <section class="top-hero projects-hero" xmlns="http://www.w3.org/1999/html">
        <p class="top-hero-text text-light" style="font-size: 5rem; height: 80%; text-align: center"> Hasło Zmienione</p>
        <div class="hero-shadow bg-dark bg-gradient" style="height: 80%"></div>
    </section>
{% endblock %}

{% block section_one %}
    <section class="car_view" style="align-items: start">
            <div class="d-grid gap-0 bg-dark bg-gradient p-2 rounded">
                <table class="table table-responsive table-bordered table-hover table-dark">
                    <p style="font-size: x-large; color: lightseagreen; margin-bottom: 0px; text-align: center">Procedura zmiany hasła powiodła się. Możesz przejść do logowania</p>
                </table>
                <a href ="{% url 'login' %}" class="btn btn-success btn-lg" style="font-size: large">Przejdź do logowania</a>
            </div>
    </section>
    <div style="height:100vh"></div>
{% endblock %}