{% extends 'employee/employee_base.html' %}

{% block section_one %}
    <section class="top-hero projects-hero" xmlns="http://www.w3.org/1999/html">
        {% if order.issue_resolved != None  %}
            <p class="top-hero-text" style="height: 80%; font-size: 6rem; color: green">Zwrot samochodu</p>
            <div class="hero-shadow bg-dark bg-gradient" style="height: 80%"></div>
        {% else %}
            <p class="top-hero-text" style="height: 80%; font-size: 6rem; color: red">Skontakuj sie z klientem</p>
            <div class="hero-shadow bg-dark bg-gradient" style="height: 80%"></div>
        {% endif %}
    </section>

<section class="car_view">
    <section class="car_table">
        <table class="table table-responsive table-bordered table-hover table-striped table-dark">
        <h2>Klient</h2>
        <tr>
            <td>Imię Nazwisko</td>
            <td>{{ order.client.first_name }} {{ order.client.last_name }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ order.client.email }}</td>
        </tr>
        <tr>
            <td>Numer telefonu</td>
            <td>{{ order.client.mobile_nr }}</td>
        </tr>

        </table>

        <table class="table table-responsive table-bordered table-hover table-striped table-dark">
            <h2>Najem</h2>
        <tr>
            <td>Data wynajmu</td>
            <td>{{ order.start_date }}</td>
        </tr>
        <tr>
            <td>Data zwrotu</td>
            <td>{{ order.return_date }}</td>
        </tr>
        <tr>
            <td>Koszt</td>
            <td>{{ order.rent_cost }}</td>
        </tr>
        </table>

        <table class="table table-responsive table-bordered table-hover table-striped table-dark">
            <h2>Samochód</h2>
        <tr>
            <td>Marka model</td>
            <td>{{ order.car.brand }} {{ order.car.car_model }}</td>
        </tr>
        <tr>
            <td>Numer rejestracyjny</td>
            <td>{{ order.car.plate_number }}</td>
        </tr>
        <tr>
            <td>Kolor</td>
            <td>{{ order.car.color }}</td>
        </tr>
        <tr>
            <td>Moc</td>
            <td>{{ order.car.engine_power }}</td>
        </tr>
        <tr>
            <td>Rodzaj skrzyni</td>
            <td>{{ order.car.get_gearbox_type_display }}</td>
        </tr>
        <tr>

        </table>

      <br>
    <div>

        <form method="POST" novalidate>
        <table class="table table-responsive table-bordered table-hover table-striped table-dark">
            {% if view.kwargs.msg != None  %}
            <tr>
                <td style="color: crimson">Błąd</td>
                <td style="color: crimson "> {{ view.kwargs.msg }}</td>
            </tr>
            {% endif %}
            {% if order.issue_resolved == True   %}
                 <h2>Potwierdzenie zwrotu</h2>
                 <tr>
                     <td>Status </td>
                     <td>{{ form.status }}</td>
                 </tr>
                 <tr>
                     <td>Poprzedni przebieg</td>
                     <td>{{ order.car.car_mileage }}</td>
                 </tr>
                 <tr>
                     <td>Nowy przebieg</td>
                     <td>{{ form.kilometers_traveled }}</td>
                </tr>
        </table>
                <button name="dodaj" class="btn btn-success btn-lg">Zatwierdź</button>
            {% else %}
                <h2>Status problemu</h2>
                <tr>
                    <td>Był kontakt ?</td>
                    <td>{{ form.issue_resolved }}</td>
                </tr>
        </table>
                <button name="dodaj" class="btn btn-success btn-lg">Zatwierdź</button>
            {% endif %}
        {% csrf_token %}
        </form>
    </div>
    </section>
</section>
<div style="height:100vh"></div>
{% endblock %}
