{% extends 'carrentapp/base.html' %}
{% load static %}
{% block section_one %}

<section class="top-hero projects-hero" xmlns="http://www.w3.org/1999/html">
    <p class="top-hero-text text-light" style="font-size: 5rem; height: 80%; text-align: center">Wybierz datę</p>
    <div class="hero-shadow bg-dark bg-gradient" style="height: 80%"></div>
</section>

<section class="car_view" style="align-items: start">
    <section class="car_table">
        <form method="POST" novalidate class="d-grid gap-0 bg-dark bg-gradient p-2 rounded">
            <table class="table table-responsive table-bordered table-hover table-dark">
                <p style="color: lightseagreen; margin-bottom: 0px; text-align: center">Proszę wybrać datę odbioru i zwrotu samochodu</p>
                <p style="color: red; text-align: center">{{ view.kwargs.msg }}</p>
                <tr>
                    <td>Data odbioru</td>
                    <td>{{ form.start_date }}</td>
                </tr>
                <tr>
                    <td>Data zwrotu</td>
                    <td>{{ form.return_date }}</td>
                </tr>
            </table>
            <button name="dodaj" class="btn btn-success btn-lg bg-gradient">Dodaj</button>
            {% csrf_token %}
        </form>
    </section>
</section>
    </form>
<div style="height:100vh"></div>
{% endblock %}
